.listing-card-link {
    height: 229px;
    width: 716px;
    padding: 8px 8px 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid black;
}

.listing-card-link {
    text-decoration: none;
    color: #3A5491;
}

.listing-card-link img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
}


.listing-details-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 300px);
    align-self: center;
}

.listing-price {
    align-self: end;
}

.listing-name {
    font-size: 20px;
    font-weight: bold;
}