.listing-card {
    height: 229px;
    width: 650px;
    padding: 0px 8px;
    border-bottom: 1px solid lightgray;
    margin-top: 24px;
}

.listing-card-link {
    height: 200px;
    width: 650px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    text-decoration: none;
    color: #484848;
}

.listing-card-link img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
}


.listing-details-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 300px);
    align-self: center;
    padding-left: 16px;
}

.listing-price {
    align-self: end;
    white-space: nowrap;
    font-size: 14px;
}

.listing-price span {
    font-weight: 800;
    font-size: 16px;
}

.listing-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}