.spot-title-area {
    width: 88%;
    height: 75px;
    margin-top: 20px;
    justify-self: left;
}

.spot-name {
    font-size: 28px;
    font-weight: bold;
}

.spot-location {
    font-size: 18px;
    margin-top: 10px;
}