.spot-title-area {
    width: 70%;
    height: 75px;
    margin-top: 20px;
    justify-self: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.spot-name {
    font-size: 28px;
    font-weight: bold;
}

.spot-location {
    font-size: 18px;
    margin-top: 10px;
}