/* TODO Add site wide styles */
body {
    min-height: 100vh;
    min-width: 100vw;
    /* min-height: 700px;
    min-width: 394px; */
    /* position: relative; */
    margin: auto;
    background-color: #90A3CE;
    
}

* {
    font-family: sans-serif;
}
