.edit-booking-ctn {
    height: 600px;
    width: 450px;
    color: #3A5491;
    background-color: #7991ff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 5px;
}

.booking-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    justify-self: center;
}

form select {
    border: none;
}

.time-select-div {
    display: flex;
    gap: 2px;
}

.time-select-div select {
    width: 50px;
}
