.login-button {
    grid-column: 4;
    justify-self: end;
    border-radius: 40px;
    border: none;
    background-color: #4F72C4;
    color: white;
    height: 50%;
    padding: 0px 20px;
    margin-top: 25px;
}

.login-button:hover {
    background-color: #4869b8;
}

