.spot-image-section {
    /* height: 500px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.spot-image-container {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.spot-image-container img {
    object-fit: cover;
}

.spot-solo-image {
    border-radius: 10px;
}

.main-image {
    border-radius: 10px 0px 0px 10px;
    max-height: calc(60vh - 64px);
    max-width: calc(60vh - 64px);
    object-fit: cover;
}

.sm-img-ctn {
    max-height: calc(60vh - 64px);
    max-width: calc(60vh - 64px);
    display: flex;
    flex-flow: wrap;
}

.sm-img-ctn img {
    height: 50%;
    width: 50%;
}

.spot-image-container.five-items {
    width: 88%;
    height: 100%;
}