.spot-image-section {
    /* height: 500px; */
    width: 70%;
    display: flex;
    justify-content: center;
}

.spot-image-container {
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.spot-image-container img {
    object-fit: cover;
}

.spot-solo-image {
    border-radius: 10px;
}

.main-image {
    /* border-radius: 10px 0px 0px 10px; */
    height: calc(500px - 64px);
    width: calc(500vh - 64px);
    object-fit: cover;
}

.sm-img-ctn {
    height: calc(500px - 64px);
    width: calc(500vh - 64px);
    display: flex;
    flex-flow: wrap;
    /* gap: 5px; */
}

.sm-img-ctn img {
    height: 50%;
    width: 50%;
}

.spot-image-container.five-items {
    width: 100%;
    height: 100%;
}

.spot-image-container.one-item {
    width: 80%;
    height: auto;
}