

.buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 140px;
    position: absolute;
    top: 100px;
    left: 400px;
    gap: 20px;
}

.delete-button {
    background-color: red;
    border: none;
    height: 30px;
    width: 150px;
    color: white;
    border-radius: 10px;
}